*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
}
.main{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.content{
    /* border: 2px solid black; */
    padding: 2px;
    height: 90vh;
}
#home{
    height: 60vh;
    background-color: rgb(31, 31, 31);
}
nav{
    /* margin-left: 20vw; */
    left: 0px;
    top: 0px;
    /* margin-top: 0.5vh; */
    position: fixed;
    width: 100vw;
    /* border: 1px solid white; */
    height: 3vh;
    padding: 5px;
    background-color: rgb(31, 31, 31);
}
.nav{
    color: white;
    height: 3vh;
    padding: 5px;
    margin-left:0.2vw ;
    margin-right: 0.2vw;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.name{
    color: white;
    font-size: 50px;
    font-weight: lighter;
}
.description{
    color: white;
    font-size: larger;
    font-weight: lighter;
}
.info-name{
    color: white;
    margin-top: 15%;
    text-align: center;
}
#about{
    display: grid;
    grid-template-areas: 
    "text1 pic"
    "text2 pic";
    justify-content: space-evenly;
    align-content: center;
    margin-top: 5%;
}
.about-text{
    /* border: 1px solid black; */
    height: 20vh;
    width: 30vw;
    padding: 5%;
    margin-left: 7%;
}
#text1{
    grid-area: text1;
}
#text2{
    margin-top: 20%;
    grid-area: text2;
}
.about-pic{
    /* border: 1px solid black; */
    height: 50vh;
    width: 30vw;
    grid-area: pic;
    background-image: url(Screenshot\ from\ 2024-01-23\ 20-32-27.png);
    background-repeat: no-repeat;
}
h2{
    padding-bottom: 3%;
}
.links{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    margin-left: 35vw;
    margin-top: 30px;
    
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px !important;
    padding: 1%;
    width: 8vw;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.wiki{
    width: 10vw;
    background-color: rgb(207, 207, 207);
}
.youtube{
    background-color: rgb(255, 0, 0);
    color: white;
}
.amazon{
    background-color: rgb(255, 136, 0);
    color: white;
}
svg{
    padding: 5px;
}
#quote{
    height: 15vh;
    background-color: rgb(31, 31, 31);
}
.quote{
    color: white;
    margin-top: 3%;
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
}
#achievements{
    height: 100vh;
}
hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}
.achi-title{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 30px 0 20px; 
} 
 
.achi-title span{ 
    background:#fff; 
    padding:0 10px; 
}
.awards{
    margin-left:10% ;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%;
    height: 15vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.awards-in{
    width: 20%;
    height: 100%;
    padding: 3px;
    border: 1px solid rgb(161, 160, 160);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}  
.award-year{
    color: #494949;
}
.award-content{
    color: #353535;
    font-size: 15px;
    
}
.literature{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left:10%;
    margin-right: 10%;
}
.achi-literature{
    /* border: 2px solid black; */
    width: 40%;
    height: 40vh;
    text-align: center;

}
.literature-title{
    font-size: 30px;
}   
.poetry{
    margin-top: 5%;
    text-align: left !important;
    margin-left: 5%; ;
    color: #353535;
}
#foot{
    height: 20vh;
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    justify-content: center;
}
.foot-first{
    /* border: 1px solid white; */
    width: 20%;
    margin-left: 2%;
    padding-top: 3% !important;
    padding: 1%;
}
.foot-head{
    font-weight: bold;
    font-size: medium;
}
.foot-content{
    margin-top: 5% ;
    margin-left: 2%;
    font-weight: lighter;
    font-size: small;
}
.foot-fade{
    color: #949494;
}
.foot-content a{
    text-decoration: none;
    color: aqua;
}
.second{
    width: 10% !important ;
}
.vl {
    border-left: 1px solid rgb(104, 104, 104);
    margin-top: 1%;
    height: 80%;
  }
@media only screen and (max-width: 575px) {
    #home{
        height: 40vh;
    }
    .name{
        font-size: 30px;
    }
    .info-name{
        margin-top: 30%;
    }
    .description{
        font-size: 15px;
    }
    #about{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 0;
        font-size: small;
    }
    .about-text{
        /* border: 1px solid black; */
        height: 10vh;
        width: 90%;
        padding: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .about-pic{
        /* border: 1px solid black; */
        height: 0;
        width: 0;
        background-image: none;
        background-repeat: no-repeat;
    }
    #text2{
        margin-top: 10%;
    }
    .links{
        width: 90%;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px !important;
        padding: 1%;
        width: 20%;
        font-size: small;
    }
    .wiki{
        width: 40%;
    }
    #con-abt{
        height: 60vh;   
    }
    #quote{
        height: 5vh;
    }
    .quote{
        margin-top: 2.5%;
        font-size:small;
    }
    .achi-title{  
        line-height: 0.1em;
        margin: 10px 0 10px; 
    } 
    .awards{
        margin-left:10% ;
        margin-right: 10%;
        margin-top: 5%;
        width: 80%;
        height: 10vh;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
    }
    .awards-in{
        width: 45%;
        height: 70%;
        margin-top: 2%;
        padding: 0.5%;
        flex-direction: column;
        justify-content: space-evenly;
    }  
    .awards{
        margin-left: 2% ;
        margin-right: 2% !important;
        margin-top: 5%;
        width: 100%;
        height: 15vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px -5px;
        font-size: small;
    }
    .award-content{
        font-size: small; 
    }


    .literature{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30%;
        padding: 0;
        margin-left: 3%; 
        margin-right: 3%;
    }
    .achi-literature{
        /* border: 2px solid black; */
        width: 100%;
        height: 90%;
        margin-left: 2%;
        text-align: center;
    
    }
    .literature-title{
        font-size: 20px;
    }   
    .poetry{
        margin-top: 5%;
        text-align: left !important;
        margin-left: 0;
        font-size: small;
    }



    #foot{
        height: 35vh;
        background-color: rgb(31, 31, 31);
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    .foot-first{
        /* border: 1px solid white; */
        width: 40%;
        margin-left: 0.5%;
        padding-top: 3% !important;
        padding: 0.5%;
        height: 100px;
    }
    .foot-head{
        font-weight: bold;
        font-size: small;
    }
    .foot-content{
        margin-top: 5% ;
        margin-left: 2%;
        font-weight: lighter;
        font-size: smaller;
    }
    .foot-fade{
        color: #949494;
    }
    .foot-content a{
        text-decoration: none;
        color: aqua;
    }
    .vl{
        border-left: none;
        margin-top: 0;
        height: 0;
    }
    .second{
        width: 3% !important ;
    }
}    